<div class="d-flex flex-column align-items-start">
  <h2>Stupid Coaching</h2>
  <p><%=@question%></p>
  <p class='Author'> -You</p>
  <p><%=@answer%></p>
  <p class='Author'> -Your coach</p>
</div>
<footer>
<%= link_to "have something else to ask :)?", ask_path %>
</footer>
